/********** GENERAL **********/
html {
    font-family: 'Open Sans', sans-serif;
    color: rgba(0, 0, 0, 0.7);
}

div {
    //border: 1px solid red;
}

.font-weight-normal {
    font-weight: normal;
}

.text-justified {
    text-align: justify;
}

.text-center {
    text-align: center;
}

.top-margin-none {
    margin-top : 0px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.no-left-right-padding {
    padding-left: 0px;
    padding-right: 0px;
}

img.desaturate{
	-webkit-filter: grayscale(1);
	-webkit-filter: grayscale(100%);
	filter: gray;
	filter: grayscale(100%);
	filter: url(desaturate.svg#greyscale);
}


/********** QUOTATIONS **********/
blockquote {
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    margin: 1em 0;
    padding: 0.25em 40px;
    line-height: 1.45;
    position: relative;
    color: #383838;
    border: 0px;
}

blockquote:before {
    display: block;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -20px;
    top: -20px;
    color: #B3B3B1;
}

blockquote cite {
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}

blockquote cite:before {
    content: "\2014 \2009";
}

/********** NAVBAR **********/

.portfolio-navbar {
    padding-top: 1em;
    padding-bottom: 1em;
    background-image: none;
    /*background-color: #F7F7F7;*/
    background-color: #fff;


    border-bottom: 0;
    /* background: 0 0; */
    -webkit-transition: background .3s ease-in-out,padding .3s ease-in-out;
    -moz-transition: background .3s ease-in-out,padding .3s ease-in-out;
    transition: background .3s ease-in-out,padding .3s ease-in-out;
}

.portfolio-navbar-list {
    background-color: rgba(255,255,255,.97);
    margin-top: 0px;
    color: #333332;

    margin-right: 100px;
}

.portfolio-brand-name {
    margin-left: 10px;
}

/********** INTRO **********/

.portfolio-sections-intro {
    padding-top: 81px;
    text-align: center;
    padding-right: 0px;
    padding-left: 0px;
}

.portfolio-sections-intro-jumbotron {
    background-color: #FECD40;
    background-color: #F7F7F7;
    border-radius: 0px !important;
}

.portfolio-sections-intro-jumbotron-image {
    display: inline;
}

/********** PORTFOLIO SECTION **********/

.portfolio-section {
    width: 100%;
    min-height: 100vh;
}

.portfolio-section-header {
    text-align: center;
    font-size: 40px;
    padding-top: 2.5em;
}
.portfolio-sub-section-header {
    text-align: left;
    font-size: 30px;
    padding-top: 2.5em;
    color:#C0392B
}
.portfolio-section-divider {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 50px;
    border-top: 2px solid #B3B3B1;
    padding-bottom: 40px;
}



/********** PROJECTS **********/

.portfolio-section-project {
    padding: 2em;
}

.portfolio-text {
    text-align: justify;
}

.portfolio-project-type {
     margin: 1em 0;
     padding: 0 1em;
     border: 2px solid #FFFFFF;
 }

.portfolio-project-label {
    cursor: pointer;
    margin: 1em 0;
    border: 2px solid #282D32;
    padding: 0 1em;
}

.portfolio-project-label:hover{
    background: #282D32;
    transition: all 200ms ease-in-out 0s;
    color:#C0392B;
}
.portfolio-project-label h4 a{

     color:#282D32;
     text-decoration: none;

 }
 .portfolio-project-label h4 a:hover{

     color:#C0392B;
     text-decoration: none;

 }
/********** FOOTER **********/

.portfolio-footer {
    text-align: center;
    font-size: 0.8em;
}



