<div layout="row">
    <div class="margin-h-center">
        <!-- LOGIN FORM -->
        <section>
            <md-toolbar><div class="margin-hv-center">Dashboard</div></md-toolbar>

            <div class="panel panel-default ss-panel login-panel">
                <div class="panel-body">
                    <p class="text-center margin-bottom-40"><b>SIGN IN TO CONTINUE</b></p>
                    <form>

                        <!-- EMAIL ADDRESS -->
                        <md-input-container class="md-block md-icon-right" flex-gt-sm>
                            <label>Email</label>
                            <input type="text" class="md-input">
                            <md-icon class="md-default-theme" md-font-icon="fa fa-envelope" class="material-icons"></md-icon>
                        </md-input-container>
                        
                        <!-- PASSWORD -->
                        <md-input-container class="md-block md-icon-right" flex-gt-sm>
                            <label>Password</label>
                            <input type="text" class="md-input">
                            <md-icon class="md-default-theme" md-font-icon="fa fa-lock fa-lg" class="material-icons"></md-icon>
                            <div class="help-block"><a ng-click="PagesController.gotoForgotPasswordPage()" class="md-primary font-size-9 cursor-pointer">Forgot your password?</a></div>
                        </md-input-container>
                        
                        <!-- REMEMBER ME -->
                        <div class="form-group">
                            <md-checkbox aria-label="Remember me"> Remember me</md-checkbox>
                        </div>
                        
                        <!-- SIGNIN BUTTON -->
                        <md-input-container layout="column">
                            <div layout="row" class="width-100-percent">
                                <md-button class="md-raised md-primary" flex>Sign In</md-button>
                            </div>
                        </md-input-container>

                        <!-- SIGN IN BUTTON -->
                        <md-input-container layout="column">
                            <div class="text-center">
                                <div>Need to Signup?</div>
                            </div>
                            <div layout="row" class="width-100-percent">
                                <md-button class="md-raised md-default" ng-click="PagesController.gotoRegisterPage()" flex>Register</md-button>
                            </div>
                        </md-input-container>

                    </form>
                    
                </div>
            </div>
        </section>

    </div>
</div>