.label-content{
    text-align: center;
    font-weight: bold;
}
.label-content-icon{
    margin-left: 50%;
    margin-top: 10%;
    margin-bottom: 10%;
}
.label-content-black{
    text-align: center;
}