/**
https://coolors.co/05668d-028090-00a896-02c39a-f0f3bd
Sea Blue: #05668D
Metallic sea weed: #028090
Persian Green:  #00A896
Carribean Green : #02C39A
Pale Spring Bud: #F0F3BD
**/

.topbar {
    width: 100%;
    background-color: #00A896;
    height: 60px;
    font-size: 24px;
    padding: 14px;
    color: #ffffff;
    margin-bottom: 20px;
}

.chart-box {
    border: 2px solid #aaaaaa;
    margin: 5px 0 5px 0;
    padding: 10px;
}

.vertical-align-text-top {
    vertical-align: text-top;
}